{% extends 'AppProject/padre.html' %}

{% load static %}

{% block titulo %}

Libros

{% endblock %}

{%block ingreso %}

Ingresar nuevo libro

{% endblock %}

{% block formulario %}

<div class="row justify-content-center">
    <div class="col-lg-8 col-xl-7">
        <form method="POST"> {% csrf_token %}
            <div class="form-floating mb-3">
                <input class="form-control" id="title" type="text" placeholder="Ingrese el título del libro." data-sb-validations="required" name="titulo"/>
                <label for="title">Título del libro:</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">Campo obligatorio.</div>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="author" type="text" placeholder="Ingrese el nombre del autor." data-sb-validations="required" name="autor" />
                <label for="author">Autor:</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">Campo obligatorio.</div>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="pages" type="number" placeholder="Ingrese el número de páginas." data-sb-validations="required" name="paginas" />
                <label for="pages">Número de páginas:</label>
                <div class="invalid-feedback" data-sb-feedback="email:required">Campo obligatorio.</div>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="genre" type="text" placeholder="Ingrese el género de la obra." data-sb-validations="required" name="genero" />
                <label for="genre">Género:</label>
                <div class="invalid-feedback" data-sb-feedback="name:required">Campo obligatorio.</div>
            </div>
            <div class="form-floating mb-3">
                <input class="form-control" id="books" type="number" placeholder="Copias vendidas." data-sb-validations="required" name="ventas" />
                <label for="books">Cantidad de copias vendidas:</label>
                <div class="invalid-feedback" data-sb-feedback="email:required">Campo obligatorio.</div>
            </div>
            <button class="btn btn-primary btn-xl" id="submitButton" type="submit" value="enviar">Crear</button>
        </form>
    </div>
</div>

{% endblock %}